# Ignore common version control system files and directories
.git
.gitignore
.gitattributes

# Ignore Python cache and compiled files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore development and local files
*.db
*.sqlite3
media/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore testing and documentation files
tests/
docs/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore system files
__MACOSX/
.DS_Store
Thumbs.db
